{% extends 'base.html' %}
{% load static %}
{% block title %} EaseManage {% endblock %}
{% block content %}


<div class="fs-1 fw-bolder"> EaseManage </div>
<a type="button" class="btn btn-warning" href="{% url 'index' %}"> Go Back To Home Page </a>
<div class="fs-6">An Employee Management Website for Small-Scale Organisations</div>
<br><br><br>
<img src="{% static 'org-pic.png'%}" style="border-radius:30px;height:50vh;"/>
<br><br><br>
<span class="font-weight-light Copyrights" >Copyrights © EaseManage 2021.</span>
{% endblock %}