{% extends 'base.html' %} {% load static %} {% block title %} My Teams {% endblock %} {% block content %}

<button
  type="button"
  class="btn btn-success"
  data-toggle="modal"
  data-target="#exampleModal"
>
  Join A New Team
</button>
<br /><br /><br />
<div class="fs-1 fw-bolder">My Teams</div>
<br /><br />
<table class="table">
  <thead>
    <tr class="table-secondary">
      <th scope="col">Team Id</th>
      <th scope="col">Team Name</th>
      <th scope="col">Manager Id</th>
      <th scope="col">Manager Name</th>
      <th scope="col">Leave</th>
    </tr>
  </thead>
  <tbody>
    {% for teammember in teammembers %}
    <tr>
      <th scope="row">{{teammember.team.teamid}}</th>
      <td>{{teammember.team.teamname}}</td>
      <td id="m{{teammember.team.teamid}}">
        {{teammember.team.manager.empid}}
      </td>
      <td>{{teammember.team.manager.firstname}}</td>
      <td>
        <button
          onClick="leave_dialog(this.id,{{request.user.id}})"
          class="btn btn-danger"
          id="l{{teammember.team.teamid}}"
        >
          Leave team
        </button>
      </td>
    </tr>

    {% endfor %}
  </tbody>
</table>
<br /><br /><br />
<!-- Button trigger modal -->

<!-- Modal -->
<div
  class="modal fade"
  id="exampleModal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Join New Team</h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form>
          {% csrf_token %}
          <div class="form-row align-items-center">
            <div class="col-auto my-1">
              <label for="inlineFormCustomSelect">Team Id</label>
              <select
                class="custom-select mr-sm-2"
                id="inlineFormCustomSelect"
                required
              >
                <option selected value="0" id="code">Choose...</option>
                {% for team in teams %}
                <option value="{{team.teamid}}">{{team.teamid}}</option>
                {% endfor %}
              </select>
            </div>
          </div>
          <br />
          <button type="button" class="btn btn-danger" data-dismiss="modal">
            Cancel Request
          </button>
          <button type="button" onclick="JoinTeam()" class="btn btn-success">
            Join Team
          </button>
        </form>
      </div>
    </div>
  </div>
</div>

<div class="modal" id="confirm_leave" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Warning</h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>
          Are you sure you want to leave the team with id:
          <span id="id_leave"></span>?
        </p>
      </div>
      <div class="modal-footer">
        {% csrf_token %}
        <div id="leavebox"></div>
      </div>
    </div>
  </div>
</div>
{% endblock %} {% block scripts %}

<script>
  function JoinTeam() {
    var selected = document.getElementById("inlineFormCustomSelect");

    var req_data = {
      flag: 0,
      code: Number(selected.options[selected.selectedIndex].value),
    };
    if (req_data.code == 0) {
      alert("Please Select A Team ! !");
      return false;
    }
    $.ajax({
      url: "{% url 'myteams' %}",
      method: "POST",
      data: req_data,
      success: function (data, status, xhr) {
        window.location.reload();
      },
      error: function (xhr, status, err) {
        console.log("No team");
      },
    });
  }

  function leave_dialog(teamid, empid) {
    teamid = Number(teamid.substr(1));
    document.getElementById("id_leave").innerText = teamid;
    if (empid == Number(document.getElementById("m" + teamid).innerText)) {
      document.getElementById(
        "leavebox"
      ).innerHTML = `<button type="button" class="btn btn-success" id='btn-leave' onclick="DeleteTeam()">Yes</button>
                    <button type="button" class="btn btn-danger" data-dismiss="modal">No</button>`;
    } else {
      document.getElementById(
        "leavebox"
      ).innerHTML = `<button type="button" class="btn btn-success" id='btn-leave' onclick="leave_team()">Yes</button>
                    <button type="button" class="btn btn-danger" data-dismiss="modal">No</button>`;
    }

    $("#confirm_leave").modal();
  }
  function leave_team() {
    var req_data = {
      flag: 1,
      id_team: Number(document.getElementById("id_leave").innerText),
    };

    $.ajax({
      url: "{% url 'myteams' %}",
      method: "POST",
      data: req_data,
      success: function (data, status, xhr) {
        window.location.reload();
      },
      error: function (xhr, status, err) {
        window.location.reload();
      },
    });
  }

  function DeleteTeam() {
    var req_data = {
      teamid: Number(document.getElementById("id_leave").innerText),
    };

    $.ajax({
      url: "{% url 'deleteteam' %}",
      method: "POST",
      data: req_data,
      success: function (data, status, xhr) {
        window.location.reload();
      },
      error: function (xhr, status, err) {
        window.location.reload();
      },
    });
  }
</script>
{% endblock %}
